:root {
  --primarycolour: #7fffd4;
  --primarydark: 	dimgray;
  --primarytext: #00008b;

  --margin-left: 5rem;
  --margin-right: 5rem;

}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  background-color: var(--primarydark);
  margin: 0;
  height: 
  
}
.header-container h1 {
  background-color: #7fffd4;
  padding-left: 10px ;
  font-size: 60px;
  color: var(--primarydark);
}
.nav-items {
  display: flex;
 list-style: none;
  gap: 0 1rem;
  color: var(--primarycolour);
}
.nav-item {
  color: var(--primarycolour);
}
.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: 1000px;
  height: 200px;
}

.page-section {
  display:flex
}

.page-section h1 {
  flex:1
}

.page-section p {
  flex: 4
}

